.container{
    margin-bottom: 50px;
}
.logo{
    transition: 2s;
}
.logo:hover{
    transform: rotate(360deg);
}
.ill-sec{
    background-color: #F0FFF0;  
    
}

#btn-edit{
border-radius: 33px;
Padding: 12px, 28px, 12px, 28px;
box-shadow: 0px 4px 4px 0px gray;
transition: 1s;
}
#btn-edit:hover{
    background-color: rgb(0, 255, 136);
    transform: scale(1.1);
    border: none;
}

.txt-1st{
    font-family: 'Arvo', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;  
}
.icons{
    width: 80px;
    height: 83px;
}

#oc{
    text-align: center;
    font-family: 'Arvo', serif;
    font-size: 36px;
    font-weight: 700px;
    margin-bottom: 90px;
    
}
.testi{
    
    text-align: center;
    font-family: 'Arvo', serif;
    margin-top: 100px;
   
}
.testimonial{
    position: relative;
    margin-bottom: 100px;
}
.man{
    /* position: absolute; */
    width: 120px;
    height: 120px;
    left: 320px;
}
.paragraph{
    position: absolute;
    top: 100px;
}
#paragraph{
    font-family:  serif;
    font-weight: 10px;
}
.lower{
    height: 369px;
    background-color: #282531;
    margin: none;
}
.hhh{
    position: relative;
    top: 190px;
}
#col6{
    /* position: absolute; */
    top: 60px;
    left: 60px;
    padding-left: 150px;
}
footer{
    text-align: center;
    color: #F0FFF0;
}
.col-md-2{
    padding-top: 85px;
}